%h1 About
%p
  Why you might want to use this site:
  %br/
  To help you find a concert by listening to music
  %br/
%p
  Instructions:
  %br/
  \- Get spotify (click on icon below) - you'll like it.  Spotify will play the tracks
  %br/
  \- Use one of the sites supported (i.e. http://thephoenix.com/Boston/Concerts/search/) to find a web site with concerts you might want to see
  %br/
  \- Copy the previous web site address into the "Enter web page" field
  %br/
  \- Click "Submit"
  %br/
  \- Paste the tracks to the "Play Queue" in Spotify
  %br/
  \- Listen to your playlist
