.span-18.info.round
  .infoText
    %h2 About
    %p 
    lennylonglegs helps you decide what show to catch this weekend ( sorry, we can't help you get a 
    %a{:href => 'http://www.okcupid.com', :target => '_blank'} date
    ). In just a few clicks you can be listening to the best songs by bands coming to your area.
    %h2 How It Works
    %ol
      %i 
        %li Fill in the fields (City, Dates and Venue...) - Hit Create
        %li Play the YouTube videos or paste the Playlist to the "Play Queue" in Spotify.
        %br
        %br
        %img{:src => '/images/paste-tracks.png'}
        %br
        %br
        %li Listen to your music!
      %p
    %font{:size => '1'}
      This product uses a SPOTIFY API but is not endorsed, certified or otherwise approved in any way by Spotify. Spotify is the registered trade mark of the Spotify Group.