<div class="span-18 info round">
  <div class="infoText">
	<h1>About</h1>
	<p>
	  lennylonglegs helps you decide what show to catch this weekend (sorry, we can't help you get a <a href="http://www.okcupid.com" target="_blank">date</a>). In just a few clicks you can be listening to the best songs by bands coming to your area.
	</p>

	<h2>How It Works</h2>
	<ol>
	  <li> <i> Fill in the fields (City, Dates and Venue...) - Hit Create </li>

	  <li> Play the YouTube video or paste the Playlist to the "Play Queue" in Spotify. </li><br/><br/> 

	  <img src="/images/paste-tracks.png" /><br/><br/>
	  <li>Listen to your music! </i></li>
	</ol>
  </div>
</div>
