<h1>About</h1>
<p>
  Lenny Long Legs helps you decide what show to catch this weekend (sorry, we can't help you get a <a href="http://www.okcupid.com" target="_blank">date</a>). In just a few clicks you can be listening to the best songs by bands coming to your area.
  Before you get started you'll need to create an account on <a href="http://www.spotify.com" target="_blank">Spotify</a> which gives you access to a vast music library.  It's free and awesome.  
</p>

<h2>How It Works</h2>
<ol>
  <li> <i> Fill in the fields (City, Dates and Venue...) - Hit Create </li>

  <li> Paste the Playlist to the "Play Queue" in Spotify. </li><br/><br/> 

  <img src="/images/paste-tracks.png" /><br/><br/>
  <li>Listen to your music! </i></li>
</ol>

