<h1>About</h1>
<p>
  Lenny Long Legs helps you decide what show to catch this weekend (sorry, we can't help you get a <a href="http://www.okcupid.com" target="_blank">date</a>). In just a few clicks you can be listening to the best songs by bands coming to your area.
  Before you get started you'll need to create an account on <a href="http://www.spotify.com" target="_blank">Spotify</a> which gives you access to a vast music library.  It's free and awesome.  
</p>

<h2>How It Works</h2>
<ol>
  <li>Click on a <a href="http://www.lennylonglegs.com">Lenny Long Legs</a>-supported site. <a href="http://www.lennylonglegs.com/contact">Contact</a> us if there's a site you'd like us to include.</li>
    <img src="/images/concert-search-site.png" /><br/><br/>
  <li>Optionally, use the external site to narrow your search.</li>
  <img src="/images/narrow-search.png" /><br/><br/>

  <li>Give us the URL of your search results.</li> 
  <img src="/images/copy-paste-URL.jpg" /><br/><br/>

  or, use our Bookmarklet to avoid copy and pasting the URL<br /><br/>
  <img src="/images/use-bookmarklet.png" /><br/><br/>

  <li>Click "Create Playlist".</li> 
  <img src="/images/submit.png" /><br/><br/>
  <li>Wait for us to assemble your playlist then copy the tracks to your clipboard.</li> 
  <img src="/images/copy-tracks.png" /><br/><br/>

  Paste the tracks to the "Play Queue" in Spotify.<br/><br/>

  <img src="/images/paste-tracks.png" /><br/><br/>
  <li>Listen to your music!</li>
</ol>

