<div class="span-18 info round">
	<div class="infoText">
		<h1>Contact</h1>
		<p>
			Feedback for lennylonglegs? <br>  Tell me on
			<a href="http://www.quora.com/Whats-wrong-with-lennylonglegs?q=what%27s+wrong+with+lenn" target="_blank"><img src="/images/quora.png" alt="Quora" /></a>
			or email me
			 lwrunner1@gmail.com
		</p>
		<p>
			Is an event missing? Add it here: <a href="http://eventful.com/events/new" target="_blank"> new event</a>
		</p>
  </div>
</div>
