<h1>Contact</h1>
<p>
	What's wrong with lennylonglegs? <br>  Tell me on
	<a href="http://www.quora.com/Whats-wrong-with-lennylonglegs?q=what%27s+wrong+with+lenn" target="_blank"><img src="/images/quora.png" alt="Quora" /></a>
	<br>
	or email me
	<br>
	 lwrunner1@gmail.com
</p>
