--- 
http_interactions: 
- request: 
    method: post
    uri: http://api.eventful.com/yaml/events/search
    body: 
      encoding: US-ASCII
      string: |-
        --1E666D29B5E749F6A145BE8A576049E6
        Content-Disposition: form-data; name="location";
        
        usa
        --1E666D29B5E749F6A145BE8A576049E6
        Content-Disposition: form-data; name="keywords";
        
        concert
        --1E666D29B5E749F6A145BE8A576049E6
        Content-Disposition: form-data; name="date";
        
        future
        --1E666D29B5E749F6A145BE8A576049E6
        Content-Disposition: form-data; name="category";
        
        music
        --1E666D29B5E749F6A145BE8A576049E6
        Content-Disposition: form-data; name="sort_order";
        
        date
        --1E666D29B5E749F6A145BE8A576049E6
        Content-Disposition: form-data; name="sort_direction";
        
        ascending
        --1E666D29B5E749F6A145BE8A576049E6
        Content-Disposition: form-data; name="page_size";
        
        10
        --1E666D29B5E749F6A145BE8A576049E6
        Content-Disposition: form-data; name="page_number";
        
        1
        --1E666D29B5E749F6A145BE8A576049E6
        Content-Disposition: form-data; name="app_key";
        
        gr2xkHcHxTF3BQNk
        --1E666D29B5E749F6A145BE8A576049E6--
    headers: 
      Content-Type: 
      - multipart/form-data; boundary=1E666D29B5E749F6A145BE8A576049E6
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/x-yaml; charset=utf-8
    body: 
      encoding: ASCII-8BIT
      string: "--- \n\
        events: \n  event: \n    - \n      all_day: 0\n      calendar_count: ~\n      calendars: ~\n      city_name: Monroe\n      comment_count: ~\n      country_abbr: USA\n      country_abbr2: US\n      country_name: United States\n      created: 2011-10-08 13:51:58\n      description: \" <ul><li> <li>I.D. is required at the door for all pre-sale tickets holders</li></li></ul><p>(Any Private *AYJ Entertainment* Social Parties held during BAND ATTEND!!! weekend are NOT apart of the Early Bird price but 3-day Ticket Holders are allowed special entry as a VIP Early Bird attendee on a first come first serve basis. Must be 21+ to get in. I.D. will be required at the door there is limited space available so we are offering you this chance to get in on the fun early!)<p>BAND ATTEND!!!!!!! <p>2012<p>&quot;A CELEBRATION HONORING THE FOUNDING FATHERS OF <p>CHS FUNK:<p>MR. D.I. ANDREWS & MR. MAURICE JOHNSON<p> To remember the foundation, rekindle friendships, simply re-bond as a group to honor, celebrate and reunite as ONE BAND!<p>This is the beginning of a UNITED EFFORT TO PERFORM AS ONE!<p>JULY 6-8, 2012<p>MONROE, LA. 71203<p>LOCATION: TBD (to be determined)<p><strong>*(sorry tickets are non- refundable & non - transferrable once purchase is made)</strong> <p>Friday<p><em><strong>Dedication Reception </strong></em><p><em><strong>July 6, 2012 </strong></em><p><em><strong>{9 am - 12 pm}</strong></em><p><em><strong></strong></em><em><strong>Event Price { $25}</strong></em><p><p><em>Entertainment:</em><p>Breakfast with Our Legends, Call to Order Ceremony,  Historical Community Dedication Ceremony <p><em>Dress Code:</em><p> Business Casual<p><em>Catering: </em><p>Buffet Style<p><em><strong>AWARD GALA </strong></em><p><em><strong>July 6, 2012 </strong></em><p><em><stro[...]
