--- 
http_interactions: 
- request: 
    method: get
    uri: http://ws.spotify.com/search/1/artist?q=the%20allman%20brothers
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Location: 
      - /search/1/artist.xml?q=the%20allman%20brothers
      Last-Modified: 
      - Fri, 06 Jul 2012 17:04:40 GMT
      Content-Type: 
      - application/xml; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <artists xmlns:opensearch="http://a9.com/-/spec/opensearch/1.1/" xmlns="http://www.spotify.com/ns/music/1">
          <opensearch:Query role="request" startPage="1" searchTerms="the allman brothers"/>
          <opensearch:totalResults>6</opensearch:totalResults>
          <opensearch:startIndex>0</opensearch:startIndex>
          <opensearch:itemsPerPage>100</opensearch:itemsPerPage>
          <artist href="spotify:artist:4wQ3PyMz3WwJGI5uEqHUVR">
            <name>The Allman Brothers Band</name>
            <popularity>0.48925</popularity>
          </artist>
          <artist href="spotify:artist:4OuvT0ZYJJqhwwxNC1Z2Pl">
            <name>Endless Highway: The Music Of The Band/Allman Brothers Band</name>
            <popularity>0.00000</popularity>
          </artist>
          <artist href="spotify:artist:6Lq2BD9pEw8QS50auoWd9e">
            <name>The Allman Brothers</name>
            <popularity>0.00003</popularity>
          </artist>
          <artist href="spotify:artist:0rcYyq4z9mooOcrijplpjH">
            <name>Karaoke - The Allman Brothers Band</name>
            <popularity>0.00002</popularity>
          </artist>
          <artist href="spotify:artist:2r0J8gBp6Ifs5fZ7GU53dp">
            <name>The Allman Brothers Band With Sheryl Crow</name>
            <popularity>0.00046</popularity>
          </artist>
          <artist href="spotify:artist:05QeUnid5rtHdC1uGKElzV">
            <name>Michael Andersen &amp; The Allman Brothers Band</name>
            <popularity>0.00001</popularity>
          </artist>
        </artists>

  recorded_at: Sat, 07 Jul 2012 18:59:43 GMT
- request: 
    method: get
    uri: http://ws.spotify.com/lookup/1/?extras=album&uri=spotify:artist:4wQ3PyMz3WwJGI5uEqHUVR
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Location: 
      - /lookup/1/.xml?uri=spotify:artist:4wQ3PyMz3WwJGI5uEqHUVR&extras=album
      Last-Modified: 
      - Fri, 06 Jul 2012 17:04:40 GMT
      Content-Type: 
      - application/xml; charset=utf-8
    body: 
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n\
        <artist xmlns=\"http://www.spotify.com/ns/music/1\">\n  <name>The Allman Brothers Band</name>\n  <albums>\n    <album href=\"spotify:album:0O2IqUGJ5HCltVcyE47wE3\">\n      <name>A &amp; R Studios</name>\n      <artist href=\"spotify:artist:4wQ3PyMz3WwJGI5uEqHUVR\">\n        <name>The Allman Brothers Band</name>\n      </artist>\n      <availability>\n        <territories>AD AL AM AT AX BA BE BG BY CH CY CZ DE DK EE ES FI FO FR GB GE GG GI GR HR HU IE IL IM IS IT JE KG KZ LI LT LU LV MC MD MK MT NL NO PL PT RE RO RU SE SH SI SJ SK SM TJ TM TR UA UZ VA YT</territories>\n      </availability>\n    </album>\n    <album href=\"spotify:album:6KRa2dIKOUQcHaHaSimC4q\">\n      <name>Collected</name>\n      <artist href=\"spotify:artist:4wQ3PyMz3WwJGI5uEqHUVR\">\n        <name>The Allman Brothers Band</name>\n      </artist>\n      <availability>\n        <territories/>\n[...]
- request: 
    method: get
    uri: http://ws.spotify.com/lookup/1/?extras=trackdetail&uri=spotify:album:6c7Tr0ltE8TX2x3loUeFgW
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Location: 
      - /lookup/1/.xml?uri=spotify:album:6c7Tr0ltE8TX2x3loUeFgW&extras=trackdetail
      Last-Modified: 
      - Fri, 06 Jul 2012 17:04:40 GMT
      Content-Type: 
      - application/xml; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <album xmlns="http://www.spotify.com/ns/music/1">
          <name>Brothers Of The Road</name>
          <artist href="spotify:artist:4wQ3PyMz3WwJGI5uEqHUVR">
            <name>The Allman Brothers Band</name>
          </artist>
          <released>2009</released>
          <id type="upc">888880675576</id>
          <tracks>
            <track href="spotify:track:54QvsT7OAOhnG2P2pzjx9x">
              <name>Brothers Of The Road</name>
              <artist href="spotify:artist:4wQ3PyMz3WwJGI5uEqHUVR">
                <name>The Allman Brothers Band</name>
              </artist>
              <available>true</available>
              <id type="isrc">USAR18100123</id>
              <disc-number>1</disc-number>
              <track-number>1</track-number>
              <length>240.160000</length>
              <popularity>0.32398</popularity>
            </track>
            <track href="spotify:track:0P5BJ0C4G3H7ir5pspYerH">
              <name>Leavin'</name>
              <artist href="spotify:artist:4wQ3PyMz3WwJGI5uEqHUVR">
                <name>The Allman Brothers Band</name>
              </artist>
              <available>true</available>
              <id type="isrc">USAR18100124</id>
              <disc-number>1</disc-number>
              <track-number>2</tra[...]
- request: 
    method: get
    uri: http://ws.spotify.com/search/1/artist?q=coldplay
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Location: 
      - /search/1/artist.xml?q=coldplay
      Last-Modified: 
      - Thu, 05 Jul 2012 15:39:49 GMT
      Content-Type: 
      - application/xml; charset=utf-8
    body: 
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"ut[...]
- request: 
    method: get
    uri: http://ws.spotify.com/lookup/1/?extras=album&uri=spotify:artist:4gzpq5DPGxSnKTe4SA8HAU
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Location: 
      - /lookup/1/.xml?uri=spotify:artist:4gzpq5DPGxSnKTe4SA8HAU&extras=album
      Last-Modified: 
      - Fri, 06 Jul 2012 17:04:40 GMT
      Content-Type: 
      - application/xml; charset=utf-8
    body: 
 [...]
- request: 
    method: get
    uri: http://ws.spotify.com/lookup/1/?extras=trackdetail&uri=spotify:album:2R7iJz5uaHjLEVnMkloO18
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Location: 
      - /lookup/1/.xml?uri=spotify:album:2R7iJz5uaHjLEVnMkloO18&extras=trackdetail
      Last-Modified: 
      - Fri, 06 Jul 2012 17:04:40 GMT
      Content-Type: 
      - application/xml; charset=utf-8
  [...]
