--- 
http_interactions: 
- request: 
    method: get
    uri: http://ws.spotify.com/lookup/1/?extras=trackdetail&uri=spotify:album:6c7Tr0ltE8TX2x3loUeFgW
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Location: 
      - /lookup/1/.xml?uri=spotify:album:6c7Tr0ltE8TX2x3loUeFgW&extras=trackdetail
      Last-Modified: 
      - Fri, 06 Jul 2012 17:04:40 GMT
      Content-Type: 
      - application/xml; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <album xmlns="http://www.spotify.com/ns/music/1">
          <name>Brothers Of The Road</name>
          <artist href="spotify:artist:4wQ3PyMz3WwJGI5uEqHUVR">
            <name>The Allman Brothers Band</name>
          </artist>
          <released>2009</released>
          <id type="upc">888880675576</id>
          <tracks>
            <track href="spotify:track:54QvsT7OAOhnG2P2pzjx9x">
              <name>Brothers Of The Road</name>
              <artist href="spotify:artist:4wQ3PyMz3WwJGI5uEqHUVR">
                <name>The Allman Brothers Band</name>
              </artist>
              <available>true</available>
              <id type="isrc">USAR18100123</id>
              <disc-number>1</disc-number>
              <track-number>1</track-number>
              <length>240.160000</length>
              <popularity>0.32398</popularity>
            </track>
            <track href="spotify:track:0P5BJ0C4G3H7ir5pspYerH">
              <name>Leavin'</name>
              <artist href="spotify:artist:4wQ3PyMz3WwJGI5uEqHUVR">
                <name>The Allman Brothers Band</name>
              </artist>
              <available>true</available>
              <id type="isrc">USAR18100124</id>
              <disc-number>1</disc-number>
              <track-number>2</track-number>
              <length>231.440000</l[...]
