--- 
http_interactions: 
- request: 
    method: get
    uri: http://developer.echonest.com/api/v4/artist/terms?api_key=PZWDKUDNKSN4AV3N1&format=xml&name=allman%20brothers&sort=frequency
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml; charset=utf-8
      Etag: 
      - "\"76bd495c870a9a22898c0bc58f65febfa17a60a2\""
      X-Worker-Node: 
      - 4dfa3:25190
      X-Ratelimit-Remaining: 
      - "87"
      X-Ratelimit-Limit: 
      - "88"
      X-Ratelimit-Used: 
      - "1"
    body: 
      encoding: US-ASCII
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <response><status><version>4.2</version><code>0</code><message>Success</message></status><start>0</start><terms><frequency>1.0</frequency><name>blues</name><weight>0.907811239508</weight></terms><terms><frequency>0.946007644101</frequency><name>blues-rock</name><weight>1.0</weight></terms><terms><frequency>0.946007644101</frequency><name>hard rock</name><weight>0.859499258381</weight></terms><terms><frequency>0.946007644101</frequency><name>rock</name><weight>0.7577696028</weight></terms><terms><frequency>0.946007644101</frequency><name>southern rock</name><weight>0.99077986372</weight></terms><terms><frequency>0.466702159742</frequency><name>oldies</name>[...]
