--- 
http_interactions: 
- request: 
    method: get
    uri: http://ws.spotify.com/lookup/1/?extras=album&uri=spotify:artist:4wQ3PyMz3WwJGI5uEqHUVR
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Location: 
      - /lookup/1/.xml?uri=spotify:artist:4wQ3PyMz3WwJGI5uEqHUVR&extras=album
      Last-Modified: 
      - Fri, 06 Jul 2012 17:04:40 GMT
      Content-Type: 
      - application/xml; charset=utf-8
    body: 
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n\
        <artist xmlns=\"http://www.spotify.com/ns/music/1\">\n  <name>The Allman Brothers Band</name>\n  <albums>\n    <album href=\"spotify:album:0O2IqUGJ5HCltVcyE47wE3\">\n      <name>A &amp; R Studios</name>\n      <artist href=\"spotify:artist:4wQ3PyMz3WwJGI5uEqHUVR\">\n        <name>The Allman Brothers Band</name>\n      </artist>\n      <availability>\n        <territories>AD AL AM AT AX BA BE BG BY CH CY CZ DE DK EE ES FI FO FR GB GE GG GI GR HR HU IE IL IM IS IT JE KG KZ LI LT LU LV MC MD MK MT NL NO PL PT RE RO RU SE SH SI SJ SK SM TJ TM TR UA UZ VA YT</territories>\n      </availability>\n    </album>\n    <album href=\"spotify:album:6KRa2dIKOUQcHaHaSimC4q\">\n      <name>Collected</name>\n      <artist href=\"spotify:artist:4wQ3PyMz3WwJGI5uEqHUVR\">\n        <name>The Allman Brothers Band</name>\n      </artist>\n      <availability>\n        <territories/>\n[...]
