<div class="span-22">

  <footer>
  <nav class="round">
  <ul>
    <li><%= link_to "Home", home_path %></li>
    <li><%= link_to "Classic Search", classicsearch_path %></li>
    <li><%= link_to "Contact", contact_path %></li>
    <li><%= link_to "About", about_path %></li>
  </ul>
  </nav>
  <p>
    <div class="span-10">

      <a href="http://www.spotify.com"><img class="push-6" src="/images/spotify-logo-100x75.jpg" alt="Spotify" /></a>
    </div>
    <div class="span-12 last small">

      This product uses a SPOTIFY API but is not endorsed, certified or otherwise approved in any way by Spotify. Spotify is the registered trade mark of the Spotify Group.
    </div>

  </p>



  </footer>

</div>
