%footer
  %nav.round
    %ul
      %li= link_to "About", about_path
      %li= link_to "Contact", contact_path
    %p
      Powered by
    %p
      %a{:href => "http://www.spotify.com"}
        %img{:alt => "Spotify", :src => "/images/spotify-logo-96x96-no-tagline.png"}/
      %a{:href => "http://www.thephoenix.com"}
        %img{:src => "/images/thephoenix.png"}/
    %p
      This product uses a SPOTIFY API but is not endorsed, certified or otherwise approved in any way by Spotify.
      %br/
      Spotify is the registered trade mark of the Spotify Group.
