<nav class="round">
<ul>
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "About", about_path %></li>
  <li><%= link_to "Comment", comments_path %></li>
  <li><%= link_to "Add Event", "http://eventful.com/events/new", :target => '_blank' %></li>
</ul>
</nav>
</hr>
<div class="span-4 external-links">
	<a href="http://the.echonest.com/" target="_blank"><img src="/images/echonest.gif" alt="Echonest" /> </a> 
</div>
<div class="span-4 external-links">
  <div class="eventful-badge eventful-medium">
    <img src="/images/eventful_88x31.gif"
    alt="Local Events, Concerts, Tickets">
  </div>
  <p class="small">
    <a href="http://eventful.com/" target="_blank">Events</a> by Eventful
  </p>
</div>
<div class="span-5 external-links">
	<a href="http://www.youTube.com" target="_blank"><img src="/images/yt_powered_by_black.png" alt="YouTube" WIDTH=90 HEIGHT=57 /> </a> 
</div>

<div class="span-5 last external-links">

  <a href="http://www.spotify.com" target="_blank"><img src="/images/spotify-logo-100x75.jpg" alt="Spotify" /></a> 

  <p>
  <font size ="1">This product uses a SPOTIFY API but is not endorsed, certified or otherwise approved in any way by Spotify. Spotify is the registered trade mark of the Spotify Group.</font>
  </p>

</div>
</hr>
