<footer>
<nav class="round">
<ul>
  <li><%= link_to "About", about_path %></li>
  <li><%= link_to "Contact", contact_path %></li>
</ul>
<p>
Powered by
</p>
<p>
<a href="http://www.spotify.com"><img src="/images/spotify-logo-96x96-no-tagline.png" alt="Spotify" /></a> </br>
<a href="http://www.thephoenix.com">The Phoenix </a> </br>
<a href="http://www.newyorker.com/">The New Yorker </a> </br>
<a href="http://cal.startribune.com/dynamic/calendars/find_event.php?open_tab=event_tab"> Star Tribune </a><br />
<a href="http://events.sfgate.com/search?st=event&cat=7">SF Gate</a><br />
<a href="http://calendar.triblive.com/search?cat=7&st=event">The Trib</a><br />
<a href="http://calendar.denverpost.com/search?cat=7&st=event">The Denver Post</a><br />
</p>

<p>
This product uses a SPOTIFY API but is not endorsed, certified or otherwise approved in any way by Spotify. <br />
Spotify is the registered trade mark of the Spotify Group.
</p>
</nav>
</footer>
