<footer>
<nav class="round">
<ul>
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "About", about_path %></li>
  <li><%= link_to "Contact", contact_path %></li>
</ul>
<div class="span-9">
  <div class="eventful-badge eventful-medium">
    <img src="http://api.eventful.com/images/powered/eventful_88x31.gif"
    alt="Local Events, Concerts, Tickets">
  </div>
  <p class="small">
    <a href="http://eventful.com/">Events</a> by Eventful
  </p>
</div>
<div class="span-8 last">

  <a href="http://www.spotify.com"><img src="/images/spotify-logo-100x75.jpg" alt="Spotify" /></a> 

  <p class="small">
    This product uses a SPOTIFY API but is not endorsed, certified or otherwise approved in any way by Spotify. Spotify is the registered trade mark of the Spotify Group.
  </p>

</div>
<hr>
</nav>
</footer>
